<!doctype html>
<html lang="en">
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex justify-content-between">
            <div class="navbar-brand" href="#">
                <img src="../clipart981146.png" alt="" width="85" height="85">
                Studio Ghibli Store
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav navbar-right">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-danger me-8" onclick="logout()">
                                Logout
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            {{#if user}}
            <div style="font-size: 25px; margin-top: 20px; background-color: #407076;" class="alert alert-dark text-center text-white" role="alert">
                Bienvenido {{ user }}! 
            </div>
            {{/if}}
            <div class="col-6">
                <div class="card">
                    <div class="card-title">
                        <h2 style="text-align: center; margin-top: 15px;">Ingrese Producto</h2>
                    </div>
                    <div class="card-body">
                        <div id="form" class="col" style="width: 100%;">
                            <form onsubmit="return enviarProducto()">
                                <div class="container-sm">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Titulo del producto:</label>
                                    <input type="text" class="form-control" id="title" placeholder="Ej. Lapicera" required>
                                </div>
                                <div class="mb-3">
                                    <label for="price" class="form-label">Precio:</label>
                                    <input type="number" class="form-control" id="price" placeholder="Ej. 200" required></input>
                                </div>
                                <div class="mb-3">
                                    <label for="thumbnail" class="form-label">Url de imagen:</label>
                                    <input type="text" class="form-control" id="thumbnail" placeholder="Ej. https://http2.mlstatic.com/D_NQ_NP_876006-MLA32697887039_102019-O.jpg" required></input>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Confirmar</button>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-title">
                        <h2 style="text-align: center;margin-top: 15px;">Tabla Productos</h2>
                    </div>
                    <div class="card-body">
                        <div id="table" class="col" style="width: 100%;">
                            {{#if prods}}
                            <table class="table table-striped table-bordered table-hover" style="width: 40%; margin: auto; text-align: center;">
                            <thead class="thead-dark">
                                <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Imagen</th>
                                </tr>
                            </thead>
                            <tbody id="productsTable">
                                {{#each prods}}
                                <tr>
                                <td>{{this.title}}</td>
                                <td>{{this.price}}</td>
                                <td><img style="width: 50px; height:50px" src={{this.thumbnail}} alt={{this.title}}></td>
                                </tr>
                                {{/each}}
                            </tbody>
                            </table>
                            {{else}}
                            <h1 style="text-align: center;">No hay productos</h1>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div> 
        </div>  
    
        <div id="chat" class="col" style="width: 50%;">
            <h2 style="margin-top: 80px;">Chat</h2>

            <div id="messages" class="container"></div>

            <form onsubmit="return enviarMensaje()">
                <div class="input-group mb-3">
                    <span class="input-group-text">@</span>
                    <input type="email" class="form-control" placeholder="Email" id="id" aria-label="id" aria-describedby="id">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Nombre</span>
                    <input type="text" class="form-control" placeholder="Tu Nombre" id="name" aria-label="name" aria-describedby="name">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Apellido</span>
                    <input type="text" class="form-control" placeholder="Tu Apellido" id="lastname" aria-label="lastname" aria-describedby="lastname">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Edad</span>
                    <input type="number" class="form-control" placeholder="Tu Edad" id="age" aria-label="age" aria-describedby="age">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Alias</span>
                    <input type="text" class="form-control" placeholder="Tu Alias" id="alias" aria-label="alias" aria-describedby="alias">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Avatar</span>
                    <input type="text" class="form-control" placeholder="Tu Avatar" id="avatar" aria-label="avatar" aria-describedby="avatar">
                </div>

                <div class="input-group">
                    <span class="input-group-text">Mensaje</span>
                    <textarea class="form-control" placeholder="Tu mensaje" aria-label="text" id="text"></textarea>
                </div>
                
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Enviar mensaje</button>
                </div>
            </form>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
  <script src="../../main.js"></script>
</html>